/**
 * This file defines the color pallet for the day.
 */

/* variables */
$sun : #ffdc00;
$sky : #39cccc;
$clouds : #fff;
$grass : #2ecc40;

/* classes */
.sun { background-color: $sun; }
.sky { background-color: $sky; }
.clouds { background-color: $clouds; }
.hill-background { background-color: darken($grass, 3); }
.hill-foreground { background-color: $grass; }
