/**
 * Main styles that define the elements of the scene.
 */

.sun {
  width: 200px;
  height: 200px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  @include border-radius(50%);
}

.hills-wrapper {
  position: relative;
}

.hill-background,
.hill-foreground {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.hill-background {
  height: 40%;
  @include border-radius(175% 0 0 0);
}

.hill-foreground {
  height: 28%;
  @include border-radius(0 280% 0 0);
}

